In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("gun_violence_data.csv", low_memory=False)
df.head()

,incident_id,date,state,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,...,participant_age,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district
0,461105,2013-01-01,Pennsylvania,Mckeesport,1506 Versailles Avenue and Coursin Street,0,4,http://www.gunviolencearchive.org/incident/461105,http://www.post-gazette.com/local/south/2013/0...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Julian Sims,NaN,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://pittsburgh.cbslocal.com/2013/01/01/4-pe...,NaN,NaN
1,460726,2013-01-01,California,Hawthorne,13500 block of Cerise Avenue,1,3,http://www.gunviolencearchive.org/incident/460726,http://www.dailybulletin.com/article/zz/201301...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Bernard Gillis,NaN,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://losangeles.cbslocal.com/2013/01/01/man-...,62.0,35.0
2,478855,2013-01-01,Ohio,Lorain,1776 East 28th Street,1,3,http://www.gunviolencearchive.org/incident/478855,http://chronicle.northcoastnow.com/2013/02/14/...,False,...,0::25||1::31||2::33||3::34||4::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,0::Damien Bell||1::Desmen Noble||2::Herman Sea...,NaN,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,http://www.morningjournal.com/general-news/201...,56.0,13.0
3,478925,2013-01-05,Colorado,Aurora,16000 block of East Ithaca Place,4,0,http://www.gunviolencearchive.org/incident/478925,http://www.dailydemocrat.com/20130106/aurora-s...,False,...,0::29||1::33||2::56||3::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Stacie Philbrook||1::Christopher Ratliffe||...,NaN,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://denver.cbslocal.com/2013/01/06/officer-...,40.0,28.0
4,478959,2013-01-07,North Carolina,Greensboro,307 Mourning Dove Terrace,2,2,http://www.gunviolencearchive.org/incident/478959,http://www.journalnow.com/news/local/article_d...,False,...,0::18||1::46||2::14||3::47,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Danielle Imani Jameison||1::Maurice Eugene ...,3::Family,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://myfox8.com/2013/01/08/update-mother-sho...,62.0,27.0

In [3]:
df = df.head(10000)
print(df)

      incident_id        date           state city_or_county  \
0          461105  2013-01-01    Pennsylvania     Mckeesport
1          460726  2013-01-01      California      Hawthorne
2          478855  2013-01-01            Ohio         Lorain
3          478925  2013-01-05        Colorado         Aurora
4          478959  2013-01-07  North Carolina     Greensboro
...           ...         ...             ...            ...
9995       180380  2014-03-21        New York   Johnson City
9996       117320  2014-03-21        Maryland       Aberdeen
9997       117316  2014-03-21      California         Merced
9998       119868  2014-03-21        Illinois        Chicago
9999       117347  2014-03-21         Florida        Sanford

                                        address  n_killed  n_injured  \
0     1506 Versailles Avenue and Coursin Street         0          4
1                  13500 block of Cerise Avenue         1          3
2                         1776 East 28th Street         1          3
3              16000 block of East Ithaca Place         4          0
4                     307 Mourning Dove Terrace         2          2
...                                         ...       ...        ...
9995                            Fairview Street         0          1
9996                              Interstate 95         1          0
9997                         West 11th and 12th         0          0
9998                   7500 South Racine Avenue         0          2
9999                              2509 Yale Ave         0          0

                                           incident_url  \
0     http://www.gunviolencearchive.org/incident/461105
1     http://www.gunviolencearchive.org/incident/460726
2     http://www.gunviolencearchive.org/incident/478855
3     http://www.gunviolencearchive.org/incident/478925
4     http://www.gunviolencearchive.org/incident/478959
...                                                 ...
9995  http://www.gunviolencearchive.org/incident/180380
9996  http://www.gunviolencearchive.org/incident/117320
9997  http://www.gunviolencearchive.org/incident/117316
9998  http://www.gunviolencearchive.org/incident/119868
9999  http://www.gunviolencearchive.org/incident/117347

                                             source_url  \
0     http://www.post-gazette.com/local/south/2013/0...
1     http://www.dailybulletin.com/article/zz/201301...
2     http://chronicle.northcoastnow.com/2013/02/14/...
3     http://www.dailydemocrat.com/20130106/aurora-s...
4     http://www.journalnow.com/news/local/article_d...
...                                                 ...
9995  http://www.pressconnects.com/article/20140321/...
9996  http://www.wbaltv.com/news/man-killed-by-polic...
9997  http://www.mercedsunstar.com/2014/03/21/356071...
9998  http://www.myfoxchicago.com/story/25107730/ham...
9999  http://www.clickorlando.com/news/sanford-polic...

      incident_url_fields_missing  ...                    participant_age  \
0                           False  ...                              0::20
1                           False  ...                              0::20
2                           False  ...  0::25||1::31||2::33||3::34||4::33
3                           False  ...         0::29||1::33||2::56||3::33
4                           False  ...         0::18||1::46||2::14||3::47
...                           ...  ...                                ...
9995                        False  ...                               0:24
9996                        False  ...                               0:29
9997                        False  ...                                NaN
9998                        False  ...                     0:21|1:31|2:18
9999                        False  ...                     1:19|2:19|3:17

                                  participant_age_group  \
0     0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...
1     0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...
2     0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...
3     0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...
4     0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...
...                                                 ...
9995                                        0:Adult 18+
9996                                        0:Adult 18+
9997                            0:Adult 18+|1:Adult 18+
9998                0:Adult 18+|1:Adult 18+|2:Adult 18+
9999   0:Adult 18+|1:Adult 18+|2:Adult 18+|3:Teen 12-17

                               participant_gender  \
0            0::Male||1::Male||3::Male||4::Female
1                                         0::Male
2     0::Male||1::Male||2::Male||3::Male||4::Male
3            0::Female||1::Male||2::Male||3::Male
4          0::Female||1::Male||2::Male||3::Female
...                                           ...
9995                                       0:Male
9996                                       0:Male
9997                                0:Male|1:Male
9998                         0:Male|1:Male|2:Male
9999                0:Female|1:Male|2:Male|3:Male

                                       participant_name  \
0                                        0::Julian Sims
1                                     0::Bernard Gillis
2     0::Damien Bell||1::Desmen Noble||2::Herman Sea...
3     0::Stacie Philbrook||1::Christopher Ratliffe||...
4     0::Danielle Imani Jameison||1::Maurice Eugene ...
...                                                 ...
9995                                    0:Aaron Cerecke
9996                                   0:Rajsaun McCray
9997                                                NaN
9998                                   2:Jeremiah Jones
9999       1:Thomas Clark|2:Matthew Teuta|3:Karl Jaquez

      participant_relationship  \
0                          NaN
1                          NaN
2                          NaN
3                          NaN
4                    3::Family
...                        ...
9995                       NaN
9996                       NaN
9997                       NaN
9998                       NaN
9999                       NaN

                                     participant_status  \
0     0::Arrested||1::Injured||2::Injured||3::Injure...
1         0::Killed||1::Injured||2::Injured||3::Injured
2     0::Injured, Unharmed, Arrested||1::Unharmed, A...
3            0::Killed||1::Killed||2::Killed||3::Killed
4          0::Injured||1::Injured||2::Killed||3::Killed
...                                                 ...
9995                                          0:Injured
9996                                           0:Killed
9997                                                NaN
9998                     0:Injured|1:Injured|2:Unharmed
9999        0:Unharmed|1:Unharmed|2:Unharmed|3:Unharmed

                                       participant_type  \
0     0::Victim||1::Victim||2::Victim||3::Victim||4:...
1     0::Victim||1::Victim||2::Victim||3::Victim||4:...
2     0::Subject-Suspect||1::Subject-Suspect||2::Vic...
3     0::Victim||1::Victim||2::Victim||3::Subject-Su...
4     0::Victim||1::Victim||2::Victim||3::Subject-Su...
...                                                 ...
9995                                           0:Victim
9996                                           0:Victim
9997                         0:Victim|1:Subject-Suspect
9998                0:Victim|1:Victim|2:Subject-Suspect
9999  0:Victim|1:Subject-Suspect|2:Subject-Suspect|3...

                                                sources state_house_district  \
0     http://pittsburgh.cbslocal.com/2013/01/01/4-pe...                  NaN
1     http://losangeles.cbslocal.com/2013/01/01/man-...                 62.0
2     http://www.morningjournal.com/general-news/201...                 56.0
3     http://denver.cbslocal.com/2013/01/06/officer-...                 40.0
4     http://myfox8.com/2013/01/08/update-mother-sho...                 62.0
...                                                 ...                  ...
9995  http://www.pressconnects.com/article/20140321/...                123.0
9996  http://www.nbcwashington.com/news/local/Md-Bur...                  NaN
9997  http://www.mercedsunstar.com/2014/03/21/356071...                 21.0
9998  http://www.myfoxchicago.com/story/25107730/ham...                 31.0
9999  http://www.clickorlando.com/news/sanford-polic...                 28.0

     state_senate_district
0                      NaN
1                     35.0
2                     13.0
3                     28.0
4                     27.0
...                    ...
9995                  52.0
9996                  34.0
9997                  12.0
9998                  16.0
9999                  10.0

[10000 rows x 29 columns]

In [4]:
df = df.drop(columns = ["incident_url", "source_url", "incident_url_fields_missing", "address", "congressional_district", "sources", "state_house_district", "state_senate_district", "gun_stolen", "gun_type", "latitude", "longitude", "notes", "location_description", "incident_characteristics", "participant_age_group", "participant_name", "participant_relationship", "participant_status", "participant_type"])
df.head()

,incident_id,date,state,city_or_county,n_killed,n_injured,n_guns_involved,participant_age,participant_gender
0,461105,2013-01-01,Pennsylvania,Mckeesport,0,4,NaN,0::20,0::Male||1::Male||3::Male||4::Female
1,460726,2013-01-01,California,Hawthorne,1,3,NaN,0::20,0::Male
2,478855,2013-01-01,Ohio,Lorain,1,3,2.0,0::25||1::31||2::33||3::34||4::33,0::Male||1::Male||2::Male||3::Male||4::Male
3,478925,2013-01-05,Colorado,Aurora,4,0,NaN,0::29||1::33||2::56||3::33,0::Female||1::Male||2::Male||3::Male
4,478959,2013-01-07,North Carolina,Greensboro,2,2,2.0,0::18||1::46||2::14||3::47,0::Female||1::Male||2::Male||3::Female

In [5]:
for index, row in df.iterrows():
    n_guns_involved = str(row["n_guns_involved"])
    invalid_date = str(row["date"])
    participant_age = str(row["participant_age"])
    participant_gender = str(row["participant_gender"])
    if n_guns_involved == "nan" or '#' in invalid_date or participant_age == "nan" or participant_gender == "nan":
        df = df.drop(labels=index, axis=0)
df = df.reset_index(drop=True)
df.head()

,incident_id,date,state,city_or_county,n_killed,n_injured,n_guns_involved,participant_age,participant_gender
0,478855,2013-01-01,Ohio,Lorain,1,3,2.0,0::25||1::31||2::33||3::34||4::33,0::Male||1::Male||2::Male||3::Male||4::Male
1,478959,2013-01-07,North Carolina,Greensboro,2,2,2.0,0::18||1::46||2::14||3::47,0::Female||1::Male||2::Male||3::Female
2,479363,2013-01-19,New Mexico,Albuquerque,5,0,2.0,0::51||1::40||2::9||3::5||4::2||5::15,0::Male||1::Female||2::Male||3::Female||4::Fem...
3,491674,2013-01-23,Tennessee,Chattanooga,1,3,1.0,0::19,0::Male||1::Male||2::Male||3::Male
4,479413,2013-01-25,Missouri,Saint Louis,1,3,1.0,0::28,0::Male

In [6]:
for index, row in df.iterrows():
    participant_age_list = str.split(str(row["participant_age"]), "||")

    for idx in range(len(participant_age_list)):
        participant_age_list[idx] = participant_age_list[idx][3:].replace(':', '')
        df.at[index, "participant_age"] = participant_age_list
    participant_gender_list = str.split(str(row["participant_gender"]), "||")

    for idx in range(len(participant_gender_list)):
        participant_gender_list[idx] = participant_gender_list[idx][3:]
        df.at[index, "participant_gender"] = participant_gender_list

    if len(participant_age_list) != len(participant_gender_list):
        df = df.drop(labels=index, axis=0)

df = df.reset_index(drop=True)
df.head()

,incident_id,date,state,city_or_county,n_killed,n_injured,n_guns_involved,participant_age,participant_gender
0,478855,2013-01-01,Ohio,Lorain,1,3,2.0,"[25, 31, 33, 34, 33]","[Male, Male, Male, Male, Male]"
1,478959,2013-01-07,North Carolina,Greensboro,2,2,2.0,"[18, 46, 14, 47]","[Female, Male, Male, Female]"
2,479363,2013-01-19,New Mexico,Albuquerque,5,0,2.0,"[51, 40, 9, 5, 2, 15]","[Male, Female, Male, Female, Female, Male]"
3,479413,2013-01-25,Missouri,Saint Louis,1,3,1.0,[28],[Male]
4,479603,2013-02-09,Louisiana,New Orleans,0,4,1.0,"[18, 22, 21, 29, 19, 22, 23]","[Male, Female, Female, Male, Male, Male, Male]"

In [7]:
n_participants_list = []
for index, row in df.iterrows():
    n_participants_list.append(len(row["participant_age"]))  
df.insert(7, 'n_participants', n_participants_list)
df.head()

,incident_id,date,state,city_or_county,n_killed,n_injured,n_guns_involved,n_participants,participant_age,participant_gender
0,478855,2013-01-01,Ohio,Lorain,1,3,2.0,5,"[25, 31, 33, 34, 33]","[Male, Male, Male, Male, Male]"
1,478959,2013-01-07,North Carolina,Greensboro,2,2,2.0,4,"[18, 46, 14, 47]","[Female, Male, Male, Female]"
2,479363,2013-01-19,New Mexico,Albuquerque,5,0,2.0,6,"[51, 40, 9, 5, 2, 15]","[Male, Female, Male, Female, Female, Male]"
3,479413,2013-01-25,Missouri,Saint Louis,1,3,1.0,1,[28],[Male]
4,479603,2013-02-09,Louisiana,New Orleans,0,4,1.0,7,"[18, 22, 21, 29, 19, 22, 23]","[Male, Female, Female, Male, Male, Male, Male]"