# &emsp; &emsp; &emsp;  &emsp; &emsp; &emsp;&emsp; &emsp; &emsp;  &emsp; &emsp; &emsp;&emsp; &emsp; &emsp; &emsp;  &emsp; &emsp; Data Science Pipeline Tutorial

&emsp; &emsp; &emsp;  &emsp; &emsp; &emsp;&emsp; &emsp; &emsp;  &emsp; &emsp; &emsp;&emsp; &emsp; &emsp;  &emsp; &emsp; &emsp;&emsp; &emsp; &emsp;  &emsp; &emsp; &emsp;&emsp; &emsp; &emsp;&emsp; &emsp; &emsp;&emsp; &emsp; &emsp; &emsp;&emsp;&emsp; &emsp; &emsp; &emsp;&emsp; &emsp;&emsp;&emsp; By Elan Haims and Jason Zhang

## &emsp; &emsp; &emsp;  &emsp; &emsp; &emsp;&emsp; &emsp; &emsp;  &emsp; &emsp; &emsp;&emsp; &emsp; &emsp;  &emsp; &emsp; &emsp;&emsp; &emsp; &emsp;  &emsp; &emsp; &emsp; &emsp;                                 Introduction

In this tutorial, we will be walking you through the steps of retreiving, managing, and representing data. We will then show you how to perform analysis on that data along with hypothesis testing and machine learning. <br> For this tutorial, we will be using a dataset from https://github.com/jamesqo/gun-violence-data that has over 200,000 datapoints for gun violence in the United States to show you each step of the data science pipeline.

## Setting up the environment

Our first step is to install all of the necessary modules to run our project. We will be using pandas to store and manage our data along with matplotlib and seaborn to represent and visualize that data with plots.

In [92]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re

## Retreiving the Data

Now that we have our environment set up we need to retreive our data. Our dataset is stored as "gun_violence_data.csv" in the same directory as this Jupyter Notebook. <br> We can then use the "read_csv()" function from pandas to load that dataset into our notebook and stores it as a DataFrame.

In [93]:
df = pd.read_csv("gun_violence_data.csv", low_memory=False)
# Our dataset is very large so we will limit it to the first 10,000 rows
df = df.head(10000)
# Shows the first few rows of our dataset
df.head()

,incident_id,date,state,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,...,participant_age,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district
0,461105.0,1/1/2013,Pennsylvania,Mckeesport,1506 Versailles Avenue and Coursin Street,0.0,4.0,http://www.gunviolencearchive.org/incident/461105,http://www.post-gazette.com/local/south/2013/0...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Julian Sims,NaN,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://pittsburgh.cbslocal.com/2013/01/01/4-pe...,NaN,NaN
1,460726.0,1/1/2013,California,Hawthorne,13500 block of Cerise Avenue,1.0,3.0,http://www.gunviolencearchive.org/incident/460726,http://www.dailybulletin.com/article/zz/201301...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Bernard Gillis,NaN,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://losangeles.cbslocal.com/2013/01/01/man-...,62.0,35.0
2,478855.0,1/1/2013,Ohio,Lorain,1776 East 28th Street,1.0,3.0,http://www.gunviolencearchive.org/incident/478855,http://chronicle.northcoastnow.com/2013/02/14/...,False,...,0::25||1::31||2::33||3::34||4::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,0::Damien Bell||1::Desmen Noble||2::Herman Sea...,NaN,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,http://www.morningjournal.com/general-news/201...,56.0,13.0
3,478925.0,1/5/2013,Colorado,Aurora,16000 block of East Ithaca Place,4.0,0.0,http://www.gunviolencearchive.org/incident/478925,http://www.dailydemocrat.com/20130106/aurora-s...,False,...,0::29||1::33||2::56||3::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Stacie Philbrook||1::Christopher Ratliffe||...,NaN,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://denver.cbslocal.com/2013/01/06/officer-...,40.0,28.0
4,478959.0,1/7/2013,North Carolina,Greensboro,307 Mourning Dove Terrace,2.0,2.0,http://www.gunviolencearchive.org/incident/478959,http://www.journalnow.com/news/local/article_d...,False,...,0::18||1::46||2::14||3::47,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Danielle Imani Jameison||1::Maurice Eugene ...,3::Family,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://myfox8.com/2013/01/08/update-mother-sho...,62.0,27.0

## Cleaning Up the Data

### Removing Extra Columns

We have our data, but as you can see it is very messy. The first step we will take to make our data easier to manage and analyze is to remove all of the unnecessary columns. <br> While having many columns can be beneficial because of the added datapoints, columns such as links to websites and names of people will not help in our analysis. <br> There are also columns that have many missing values so we will remove those as well to make our analysis easier.

In [94]:
# Drops columns from our dataframe
df = df.drop(columns = ["incident_url", "source_url", "incident_url_fields_missing", "address", 
"congressional_district", "sources", "state_house_district", "state_senate_district", "gun_stolen", 
"gun_type", "latitude", "longitude", "notes", "location_description", "incident_characteristics", 
"participant_age_group", "participant_name", "participant_relationship", "participant_status", "participant_type"])
# Displays the first few rows of the dataframe
df.head()

,incident_id,date,state,city_or_county,n_killed,n_injured,n_guns_involved,participant_age,participant_gender
0,461105.0,1/1/2013,Pennsylvania,Mckeesport,0.0,4.0,NaN,0::20,0::Male||1::Male||3::Male||4::Female
1,460726.0,1/1/2013,California,Hawthorne,1.0,3.0,NaN,0::20,0::Male
2,478855.0,1/1/2013,Ohio,Lorain,1.0,3.0,2.0,0::25||1::31||2::33||3::34||4::33,0::Male||1::Male||2::Male||3::Male||4::Male
3,478925.0,1/5/2013,Colorado,Aurora,4.0,0.0,NaN,0::29||1::33||2::56||3::33,0::Female||1::Male||2::Male||3::Male
4,478959.0,1/7/2013,North Carolina,Greensboro,2.0,2.0,2.0,0::18||1::46||2::14||3::47,0::Female||1::Male||2::Male||3::Female

### Removing Rows With Missing Values

Even though we already dropped the columns that contain many missing values, there are still some missing values in the remaining columns. <Br> If a datapoint is missing in the DataFrame, it will be represented as the string "nan", except for the "date" column which represents the missing value as a series of "#"s. <br> Since we have an abundance of datapoints, we can simply remove every row that has a missing value in any column. <br> To do this we will iterate through the DataFrame row by row and delete the row if we find a "nan" or "#".

In [95]:
# Iterates through the DataFrame
for index, row in df.iterrows():
    # Retreives the value of the "n_guns_involved" column for the current row
    n_guns_involved = str(row["n_guns_involved"])
    # Retreives the value of the "date" column for the current row
    invalid_date = str(row["date"])
    # Retreives the value of the "participant_age" column for the current row
    participant_age = str(row["participant_age"])
    # Retreives the value of the "participant_gender" column for the current row
    participant_gender = str(row["participant_gender"])

    #Checks to make sure participant age follows the correct format
    participant_age_list = str.split(str(row["participant_age"]), "||")
    invalid_age_format = False
    for idx in range(len(participant_age_list)):
        part_age = participant_age_list[idx][3:].replace(':', '')
        if not re.match("^[0-9]+$", part_age):
            invalid_age_format = True

    # Checks for any missing values
    if n_guns_involved == "nan" or '#' in invalid_date or participant_age == "nan" or participant_gender == "nan" or invalid_age_format:
        # Drops the row from the DataFrame if there were any missing values
        df = df.drop(labels=index, axis=0)

# Resets the indices in the DataFrame 
df = df.reset_index(drop=True)
df.head()

,incident_id,date,state,city_or_county,n_killed,n_injured,n_guns_involved,participant_age,participant_gender
0,478855.0,1/1/2013,Ohio,Lorain,1.0,3.0,2.0,0::25||1::31||2::33||3::34||4::33,0::Male||1::Male||2::Male||3::Male||4::Male
1,478959.0,1/7/2013,North Carolina,Greensboro,2.0,2.0,2.0,0::18||1::46||2::14||3::47,0::Female||1::Male||2::Male||3::Female
2,479363.0,1/19/2013,New Mexico,Albuquerque,5.0,0.0,2.0,0::51||1::40||2::9||3::5||4::2||5::15,0::Male||1::Female||2::Male||3::Female||4::Fem...
3,491674.0,1/23/2013,Tennessee,Chattanooga,1.0,3.0,1.0,0::19,0::Male||1::Male||2::Male||3::Male
4,479413.0,1/25/2013,Missouri,Saint Louis,1.0,3.0,1.0,0::28,0::Male

## Manipulating the Data

Now that we have removed all of the unnecessary columns and missing values, we are almost ready to begin conducting analysis on the data. <br> Before we do that though, we should make our data look a little better. As you can see above, our "participant_age" and "participant_gender" values are stored as "0::(value)||1::(value)...and so on". <br> This is very difficult to perform analysis on because we cannot easily retrieve the data that we actually want. <br> To fix this, we will manipulate these columns and make it so they store an array of only the important data, i.e. the ages and genders.<br> For example, if before the value of "participant_age" for a certain row was "0::25||1::31||2::33||3::34||4::33", after our manipulation it will become "\[25, 31, 33, 34, 33]".

In [96]:
# Iterates through the dataframe
for index, row in df.iterrows():
    # Split the participant age value into an array of values separated by '||'
    # Each index of the array should look something like: '::(value)'
    participant_age_list = str.split(str(row["participant_age"]), "||")
    # Iterate over that array of values
    for idx in range(len(participant_age_list)):
        # Remove the '::' 
        part_age = participant_age_list[idx][3:].replace(':', '')
        # Convert to value from string to integer
        participant_age_list[idx] = int(part_age)
        # Replace the value in the DataFrame with the new array of integer values
        df.at[index, "participant_age"] = participant_age_list

    # Split the participant gender value into an array of values separated by '||'
    # Each index of the array should look something like: '::(value)'
    participant_gender_list = str.split(str(row["participant_gender"]), "||")
    # Iterate over that array of values
    for idx in range(len(participant_gender_list)):
        # Remove the '::'
        participant_gender_list[idx] = participant_gender_list[idx][3:].replace(':', '')
        # Replace the value in the DataFrame with the new array of gender values
        df.at[index, "participant_gender"] = participant_gender_list

    # If for some reason the number of listed participant ages and genders are not equal, we remove the row from the DataFrame
    if len(participant_age_list) != len(participant_gender_list):
        df = df.drop(labels=index, axis=0)
# Reset the indices of the DataFrame
df = df.reset_index(drop=True)
df.head()

,incident_id,date,state,city_or_county,n_killed,n_injured,n_guns_involved,participant_age,participant_gender
0,478855.0,1/1/2013,Ohio,Lorain,1.0,3.0,2.0,"[25, 31, 33, 34, 33]","[Male, Male, Male, Male, Male]"
1,478959.0,1/7/2013,North Carolina,Greensboro,2.0,2.0,2.0,"[18, 46, 14, 47]","[Female, Male, Male, Female]"
2,479363.0,1/19/2013,New Mexico,Albuquerque,5.0,0.0,2.0,"[51, 40, 9, 5, 2, 15]","[Male, Female, Male, Female, Female, Male]"
3,479413.0,1/25/2013,Missouri,Saint Louis,1.0,3.0,1.0,[28],[Male]
4,479603.0,2/9/2013,Louisiana,New Orleans,0.0,4.0,1.0,"[18, 22, 21, 29, 19, 22, 23]","[Male, Female, Female, Male, Male, Male, Male]"

### Adding a New Column to the DataFrame

Our data is now all cleaned up and ready to analyze. <br> One more thing that we can do to aid in our analysis is to add a new column that gives us the total number of participants involved. <br>Currently we can do that by retrieving the length of the participant_age or participant_gender array, but it is much better to have a new column in the DataFrame that tells us exactly how many people were involved.

In [97]:
# Initialize a new list
n_participants_list = []
# Iterate over the DataFrame
for index, row in df.iterrows():
    # Add the length of the "participant_age" array at that row to our number of participants list
    n_participants_list.append(len(row["participant_age"]))  
# Insert the 'n_participants_list' into the DataFrame with name 'n_participants' at index 7, so that it comes right before 'participant_age'
df.insert(7, 'n_participants', n_participants_list)
df.head()

,incident_id,date,state,city_or_county,n_killed,n_injured,n_guns_involved,n_participants,participant_age,participant_gender
0,478855.0,1/1/2013,Ohio,Lorain,1.0,3.0,2.0,5,"[25, 31, 33, 34, 33]","[Male, Male, Male, Male, Male]"
1,478959.0,1/7/2013,North Carolina,Greensboro,2.0,2.0,2.0,4,"[18, 46, 14, 47]","[Female, Male, Male, Female]"
2,479363.0,1/19/2013,New Mexico,Albuquerque,5.0,0.0,2.0,6,"[51, 40, 9, 5, 2, 15]","[Male, Female, Male, Female, Female, Male]"
3,479413.0,1/25/2013,Missouri,Saint Louis,1.0,3.0,1.0,1,[28],[Male]
4,479603.0,2/9/2013,Louisiana,New Orleans,0.0,4.0,1.0,7,"[18, 22, 21, 29, 19, 22, 23]","[Male, Female, Female, Male, Male, Male, Male]"